* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(160, 62, 190);
}

.sectionnos{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 500px;
    width: 100%;
    background-color: black;
}

.parrafomain{
    font-size: 20px;
}
.btn{
    color: rgba(240, 248, 255, 0.705);
}

.carousel{
    height: 500px;
    width: 100%;
}
.prod{
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: 2, 200px;
    grid-template-rows: 2, 185px;
}